<div class="row">
    <div class="col">
        <div class="card" *ngIf="!requeteActive">
            <div class="card-header">
                <div class="row">
                    <h1 class="col text-center">Liste des requetes utilisateur</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-hover text-center">
                        <thead class="thead-light">
                            <tr>
                                <th>id</th>
                                <th>Date de la requête</th>
                                <th>Mail utilisateur</th>
                                <th>Sujet du message</th>
                                <th>Requête traitée</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="ttRequete && ttRequete.length > 0">
                            <tr *ngFor="let r of ttRequete">
                                <td>{{r.id}}</td>
                                <td>{{r.request_date}}</td>
                                <td>{{r.user_mail}}</td>
                                <td>{{r.request_subject}}</td>
                                <td>{{r.libelle_request_closed}}</td>
                                <td>
                                    <button class="icon-button" (click)="supprimer(r)" title="supprimer">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button class="icon-button" (click)="showRequete(r)" title="voir">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!ttRequete || ttRequete.length === 0">
                            <tr>
                                <td colspan=6>Il n'y a pas de requete.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="ttRequete && ttRequete.length > 0 && ttPage && ttPage.length > 0">
                        <pagination-cpt [ttPage]="ttPage" (changePage)="changePage($event)"></pagination-cpt>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="requeteActive">
                <div class="row mb-2">
                    <div class="col-md-2">
                        <button (click)="retour()" class="btn btn-dark">
                            Retour liste
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h4>Requete {{requeteActive.id}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label">Traitée :</label>
                                    </div>
                                    <div class="col">
                                        {{requeteActive.libelle_request_closed}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label">Date :</label>
                                    </div>
                                    <div class="col">
                                        {{requeteActive.request_date}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label">Emeteur du message :</label>
                                    </div>
                                    <div class="col">{{requeteActive.user_mail}}</div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="control-label">Sujet :</label>
                                    </div>
                                    <div class="col">{{requeteActive.request_subject}}</div>
                                </div>
                                <div class="row">
                                    <label class="control-label col">Message :</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                {{requeteActive.request_text}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-primary" (click)="(setReponse = !setReponse)">Répondre</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-2" *ngIf="setReponse">
                            <div class="card-header">
                                <h4>Réponse</h4>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col">
                                        <textarea rows="10" [(ngModel)]="reponse" [ngClass]="{ 'invalid': submitted && !reponse }"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-success" (click)="sendResponse()">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>