<ion-header>
  <ion-toolbar>
    <ion-title>affichagePersonnage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="ttItems && ttItems.length > 0">
      <ion-item *ngFor="let item of ttItems">
          <ion-label text-wrap>
              <ion-text>
                  <p *ngIf="item.armour > 0">
                      {{getWord('msg_armor')}} : {{item.armour}}</p>
                  <p *ngIf="item.health > 0">
                      {{getHealthLibelle()}} : {{item.health}}
                  </p>
                  <p *ngIf="item.attack > 0">
                      {{getLibelleAttack()}} : {{item.attack}}
                  </p>
                  <p *ngIf="item.critical_strike > 0">
                      {{getLibelleStat(32)}} : {{item.critical_strike}}
                  </p>
                  <p *ngIf="item.stamina > 0">
                      {{getLibelleStat(7)}} : {{item.stamina}}
                  </p>
                  <p *ngIf="item.haste > 0">
                      {{getLibelleStat(36)}} : {{item.haste}}
                  </p>
                  <p *ngIf="item.mastery > 0">
                      {{getLibelleStat(49)}} : {{item.mastery}}
                  </p>
                  <p *ngIf="item.versatility > 0">
                      {{getLibelleStat(40)}} : {{item.versatility}}
                  </p>
              </ion-text>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
