<ion-header>
  <ion-toolbar>
    <ion-title>affichagePersonnage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="ttItems && ttItems.length > 0">
      <ion-item *ngFor="let item of ttItems">
          <ion-label text-wrap>
              <ion-text>
                  <p *ngIf="item.armour > 0">
                      {{getWord('msg_armor')}} : {{character.armour}}</p>
                  <!-- <p *ngIf="item.health > 0">
                      {{getHealthLibelle()}} : {{character.health}}
                  </p>
                  <p *ngIf="item.attack > 0">
                      {{getLibelleAttack(character)}} : {{character.attack}}
                  </p> -->
              </ion-text>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
