<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            WoW Planner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row" *ngIf="ttCharacter && ttCharacter.length > 0">
        <div class="col">
            <div class="card mb-2" *ngFor="let character of ttCharacter">
                <div class="card-body card-principale">
                    <affichage-personnage-cpt [character]="character" [words]="words"></affichage-personnage-cpt>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
