<div class="container" *ngIf="words && words.length > 0 && userConnected">
    <div class="row" [formGroup]="infoUserForm">
        <div class="col-md-6" formGroupName="profileGroup">
            <div class="card">
                <div class="card-header">
                    <div class="text-center row">
                        <div class="col">
                            <button (click)="(editMode = true)" class="btn btn-primary">
                                {{(words | filter : {msg_name: 'msg_modifCompte'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body form-group">
                    <div class="row alert alert-danger" *ngIf="profileErrors && profileErrors.length > 0">
                        <div class="col">
                            <div *ngFor="let error of profileErrors">{{error}}</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-6" for="lastname">
                            {{(words | filter : {msg_name: 'msg_name'} : {col : 'value'})}}
                        </label>
                        <span class="col-md-6" *ngIf="!editMode">{{userConnected.lastname}}</span>
                        <div class="col-md-6">
                            <input class="inputPerso form-control" *ngIf="editMode" type="text" formControlName="lastname"
                                id="lastname">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-6" for="firstname">
                            {{(words | filter : {msg_name: 'msg_firstname'} : {col : 'value'})}}
                        </label>
                        <span class="col-md-6" *ngIf="!editMode">{{userConnected.firstname}}</span>
                        <div class="col-md-6">
                            <input class="inputPerso form-control" *ngIf="editMode" type="text" formControlName="firstname"
                                id="firstname">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-6" for="pseudo">
                            {{(words | filter : {msg_name: 'msg_pseudo'} : {col : 'value'})}}
                        </label>
                        <span class="col-md-6" *ngIf="!editMode">{{userConnected.pseudo}}</span>
                        <div class="col-md-6">
                            <input [ngClass]="{ 'invalid': submitted && (infoUserForm.controls.profileGroup.controls.pseudo.errors) }"
                                class="inputPerso form-control" *ngIf="editMode" type="text" formControlName="pseudo"
                                id="pseudo">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-6" for="mail">Mail</label>
                        <span class="col-md-6" *ngIf="!editMode">{{userConnected.mail}}</span>
                        <div class="col-md-6">
                            <input [ngClass]="{ 'invalid': submitted && (infoUserForm.controls.profileGroup.controls.mail.errors) }"
                                class="inputPerso form-control" *ngIf="editMode" type="text" formControlName="mail" id="mail">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-6" for="login">{{(words | filter : {msg_name: 'msg_identifiant'} : {col :
                            'value'})}}</label>
                        <span class="col-md-6" *ngIf="!editMode">{{userConnected.login}}</span>
                        <div class="col-md-6">
                            <input class="inputPerso form-control" *ngIf="editMode" type="text" formControlName="login"
                                id="login">
                        </div>
                    </div>
                    <div class="row" *ngIf="editMode">
                        <div class="col">
                            <button (click)="desinscription()" class="btn btn-warning">
                                {{(words | filter : {msg_name: 'msg_btnDesinscrire'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="editMode">
                    <div class="row">
                        <div class="text-center col">
                            <button (click)="sendUser()" class="btn btn-success">
                                {{(words | filter : {msg_name: 'msg_enregistrer'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" formGroupName="passwordGroup">
            <div class="card">
                <div class="card-header">
                    <div class="row form-group">
                        <div class="col text-center">
                            <button (click)="(changePass = true)" class="btn btn-primary">
                                {{(words | filter : {msg_name: 'msg_changePass'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="changePass">
                    <div class="row alert alert-danger" *ngIf="passwordErrors && passwordErrors.length > 0">
                        <div class="col">
                            <div *ngFor="let error of passwordErrors">{{error}}</div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>{{(words | filter : {msg_name: 'msg_password'} : {col : 'value'})}}</label>
                        </div>
                        <div class="col-md-6">
                            <input [ngClass]="{ 'invalid': submitted && (infoUserForm.controls.passwordGroup.controls.oldPassword.errors || wrongPass) }"
                                class="inputPerso form-control" type="password" formControlName="oldPassword">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>{{(words | filter : {msg_name: 'msg_newPassword'} : {col : 'value'})}}</label>
                        </div>
                        <div class="col-md-6">
                            <input [ngClass]="{ 'invalid': submitted && infoUserForm.controls.passwordGroup.controls.newPassword.errors }"
                                class="inputPerso form-control" type="password" formControlName="newPassword">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>{{(words | filter : {msg_name: 'msg_passwordConfirm'} : {col : 'value'})}}</label>
                        </div>
                        <div class="col-md-6">
                            <input [ngClass]="{ 'invalid': submitted && (infoUserForm.controls.passwordGroup.controls.cfPassword.errors || wrongCf) }"
                                class="inputPerso form-control" type="password" formControlName="cfPassword">
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="changePass">
                    <div class="row">
                        <div class="col text-center">
                            <button (click)="sendPass()" class="btn btn-success">
                                {{(words | filter : {msg_name: 'msg_enregistrer'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>