<div *ngIf="words && words.length > 0" style="height: 200px;">

    <nav class="navbar navbar-expand-lg navbar-light menu scrollOn">
      <a [routerLink]="['/accueil']" class="navbar-brand">
          <img id="imgWow" style="width: 150px;" src="assets/img/Logo-wow.png" alt="Logo wow">
      </a>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/creationPersonnage']">
                      {{(words | filter : {msg_name: 'msg_creationPerso'} : {col : 'value'})}}
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">
                        {{(words | filter : {msg_name: 'msg_nousContacter'} : {col : 'value'})}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="!userConnected">
                    <a class="nav-link" [routerLink]="['/inscription']">
                        {{(words | filter : {msg_name: 'msg_registration'} : {col : 'value'})}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="!userConnected">
                    <a class="nav-link" [routerLink]="['/login']">
                        {{(words | filter : {msg_name: 'msg_connect'} : {col : 'value'})}}
                    </a>
                </li>
                <li class="nav-item dropdown deroulant">
                    <a class="nav-link" id="navbarDropdownLangue">{{langue.toUpperCase()}}</a>
                    <ul class="sous-deroulant pseudo" aria-labelledby="navbarDropdownLangue">
                        <li class="nav-item lg">
                            <a class="nav-link " (click)="changeLangue()">
                                <span *ngIf="langue==='en'">FR</span>
                                <span *ngIf="langue==='fr'">EN</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown deroulant" *ngIf="userConnected">
                    <a class="nav-link" id="navbarDropdownPseudo">{{userConnected.pseudo}}</a>
                    <ul class="sous-deroulant pseudo" aria-labelledby="navbarDropdownPseudo">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/listePersonnage']">
                                {{(words | filter : {msg_name: 'msg_mesPersonnages'} : {col : 'value'})}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/infoUser']">
                                {{(words | filter : {msg_name: 'msg_infoUserLink'} : {col : 'value'})}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userConnected">
                            <a class="nav-link" (click)="deconnexion()">
                                {{(words | filter : {msg_name: 'msg_signout'} : {col : 'value'})}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="userConnected && compteAdmin">
                            <a class="nav-link" [routerLink]="['/admin']">BO</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="loader" *ngIf="chargement"></div>
<router-outlet *ngIf="!chargement"></router-outlet>
