<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="words && words.length > 0">
    <ion-item class="mt-3">
        <ion-label>{{(words | filter : {msg_name: 'msg_loginMail'} : {col : 'value'})}} *</ion-label>
        <ion-input type="text" [(ngModel)]="user.login"></ion-input>
    </ion-item>
    <ion-item class="mt-3">
        <ion-label>{{(words | filter : {msg_name: 'msg_password'} : {col : 'value'})}} *</ion-label>
        <ion-input type="text" [(ngModel)]="user.pasword"></ion-input>
    </ion-item>
    <div class="text-center mt-3">
        <button class="btn btn-success" (click)="login()">
            {{(words | filter : {msg_name: 'msg_connect'} : {col : 'value'})}}
        </button>
    </div>
</ion-content>