<div class="container" *ngIf="words && words.length > 0">
    <div class="row" [formGroup]="contactForm">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col">
                    <h1 class="title">{{(words | filter : {msg_name: 'msg_nousContacter'} : {col : 'value'})}}</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row" *ngIf="errors && errors.length > 0">
                        <div class="col alert alert-danger">
                            <div *ngFor="let error of errors">{{error}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="success col" *ngIf="mailSent">
                            {{(words | filter : {msg_name: 'msg_contactEffectue'} : {col : 'value'})}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="contact_mail">
                                {{(words | filter : {msg_name: 'msg_yourAdress'} : {col : 'value'})}}
                            </label>
                            <input autofocus id="contact_mail" class="form-control" [ngClass]="{ 'invalid': submitted && contactForm.controls.contact_mail.errors }"
                                type="text" formControlName="contact_mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="contact_subject">
                                {{(words | filter : {msg_name: 'msg_contactSujet'} : {col : 'value'})}}
                            </label>
                            <input autofocus id="contact_subject" class="form-control" [ngClass]="{ 'invalid': submitted && contactForm.controls.contact_subject.errors }"
                                type="text" formControlName="contact_subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="contact_text">
                                Message
                            </label>
                            <textarea autofocus id="contact_text" class="form-control" [ngClass]="{ 'invalid': submitted && contactForm.controls.contact_text.errors }"
                                type="text" formControlName="contact_text"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="center col text-center">
                            <button (click)="envoyer()" class="btn btn-success">
                                {{(words | filter : {msg_name: 'msg_send'} : {col : 'value'})}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>