<div class="container">
    <div class="row" [formGroup]="inscriptionForm">
        <div class="col s6 offset-s3">
            <div class="error" *ngIf="!valid">
                {{error}}
            </div>
            <div class="input-field col s12">
                <label for="lastname">Nom</label>
                <input class="input-field" type="text" id="lastname" [(ngModel)]="user.lastname" formControlName="lastname">
            </div>
            <div class="input-field col s12">
                <label for="firstname">Prénom</label>
                <input class="input-field" type="text" id="firstname" [(ngModel)]="user.firstname" formControlName="firstname">
            </div>
            <div class="input-field col s12">
                <label for="pseudo">Pseudo *</label>
                <input class="input-field" type="text" id="pseudo" [(ngModel)]="user.pseudo" formControlName="pseudo">
            </div>
            <div class="input-field col s12">
                <label for="mail">Mail *</label>
                <input class="input-field" type="text" id="mail" [(ngModel)]="user.mail" formControlName="mail">
            </div>
            <div class="input-field col s12">
                <label for="password">Mot de passe *</label>
                <input class="input-field" type="password" id="password" [(ngModel)]="user.password" formControlName="password">
            </div>
            <div class="input-field col s12">
                <label for="cfPassword">Confirmer le mot de passe *</label>
                <input class="input-field" type="password" id="cfPassword" [(ngModel)]="user.cfPassword" formControlName="cfPassword">
            </div>
            <div class="center col s12">
                <button type="submit" (click)="inscription()" class="btn waves-effect waves-ligth" style="width: 100%">Inscription</button>
            </div>
            <p>* Informations obligatoires</p>
        </div>
    </div>
</div>