.sous-deroulant{
    display: none;    
}
.sous-deroulant.pseudo {
    position: absolute;
    width: 242px; /* TODO: changer quand le menu aura hang */
    right: 0;
}
.deroulant:hover .sous-deroulant{
    display: block;
}
.deroulant {
    position: relative;
}
.sous-deroulant li{
    float: none;
}
.sous-deroulant li a{
    color: black;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.loader {
    position : fixed;
    z-index: 9999;
    background : url('assets/img/chargement.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}
.link:hover{
    cursor: pointer;
}
.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.growl {
    position: fixed;
    height: auto;
    background-color: #00000099;
    width: auto;
    top: 65px;
    right: 0;
    color: white;
    border: 3px solid #00000082;
    border-right: 0;
    border-radius: 21px 0 0 21px;
    padding: 10px;
    max-width: 500px;
    z-index: 100000;
}
.inputPerso {
    height: 2rem!important;
}
table.highlight tbody tr:hover{
    background-color: rgba(181, 181, 181, 0.5);
}