<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <affichage-personnage-cpt [character]="character" [mesPersonnages]="mesPersonnages" [detailPersonnage]="true"
                        [words]="words">
                    </affichage-personnage-cpt>
                    <commentaire-cpt [words]="words" [character]="character" [ttCommentaire]="ttCommentaire"></commentaire-cpt>
                </div>
            </div>
        </div>
    </div>
</div>
